# markdown
## markdown
### markdown
#### markdown

- python
  - python 1
  - python 2
     - python 1
     - python 2
- *python*
- **python**
- ***python***

print function()

In [2]:
print("Hello World")

Hello World

In [3]:
print("HELLO WORLD")

HELLO WORLD

In [4]:
print("one","two","three")

one two three

In [5]:
a=10 # single variable assigned to single value
print(a)

10

In [6]:
a=b=c=10 # multiple variabled assigned to single 
print(a,b,c)

10 10 10

In [7]:
a,b,c=10,20,30 # multiple variables assigned with multiple values
print(a,b,c)

10 20 30

In [8]:
# int
a=5
print(a)
print(type(a))

5
<class 'int'>

In [10]:
# float
f=1.2
print(f)
print(type(f))

1.2
<class 'float'>

In [11]:
# string
s="python"
print(s)
print(type(s))

python
<class 'str'>

# Data conversions 
- Integer --> int
- float   --> float
- string  --> str

In [13]:
n=10
print(n,type(n))
f= float(n)
print(f,type(f))
s=str(n)
print(s,type(s))

10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>

In [14]:
f=1.3
print(f,type(f))
n=int(f)
print(n,type(n))
s=str(f)
print(s,type(s))

1.3 <class 'float'>
1 <class 'int'>
1.3 <class 'str'>

In [15]:
s=123456
print(s,type(s))
n=int(s)
print(n,type(n))
f=float(s)
print(f,type(f))

123456 <class 'int'>
123456 <class 'int'>
123456.0 <class 'float'>

In [18]:
# Display three string “Name”, “Is”, “James” as “Name**Is**James"
print("Name **is**James")

Name **is**James

In [19]:
radius=int(input("enter radius"))
area=3.14*radius**2
print("area of circle is:",area)

enter radius21
area of circle is: 1384.74

In [22]:
a=int(input("enter first value"))
b=int(input("enter second value"))
print("addition is:",a+b,"multiplication is:",a*b,"divisionis:",a/b)

enter first value5
enter second value74
addition is: 79 multiplication is: 370 divisionis: 0.06756756756756757

In [25]:
year=int(input("enter year:"))
print("result=",year+50)

enter year:2021
result= 2071